{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'products.css' %}">
    <link rel="stylesheet" href="{% static 'account.css' %}">
    <link rel="stylesheet" href="{% static 'admin.css' %}">
    <title>Admin menu</title>
</head>
<body>
<section class="Admin_menu">
    <div class="Sidebar_admin_menu">
        <h2>Admin Menu</h2>
        <ul>
            <li><a href="{% url 'admin_menu' %}">View and update</a></li>
            <li><a href="{% url 'add_new_product' %}">Add new product</a></li>        
            <li><a href="/">Back to Main page</a></li>
        </ul>
    </div>
    
    <div class="Our_items Main_content">
    <h1 style="margin-left: 150px">List of products</h1>
        <ul class="List_of_products">
        {% for product in product_list %}
            <li>
                <a href="{% url 'product_id' product.pk %}" style="text-decoration: none; color: inherit">
                <ul class="Card_of_product">
                    <li class="Name_of_item">{{ product.name }}</li><br>
                    <li class="Image_of_item"><img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 200px"></li><br>
                    <li class="Description_of_item">{{ product.description|truncatechars:100 }}</li><br>
                    {% if product.color %}<li><p>Color: {{ product.color }}</p></li>{% endif %}
                    {% if product.os %}<li><p>OS: {{ product.os }}</p></li>{% endif %}
                    {% if product.built_in_memory %}<li><p>Storage: {{ product.built_in_memory }} GB</p></li>{% endif %}
                    {% if product.screen_diagonal %}<li><p>Display size: {{ product.screen_diagonal }} "</p></li>{% endif %}
                    {% if product.battery_capacity %}<li><p>Battery capacity: {{ product.battery_capacity }} mAh</p></li>{% endif %}
                    {% if product.camera %}<li><p>Camera: {{ product.camera }} Mpx</p></li>{% endif %}
                    {% if product.processor %}<li><p>Processor: {{ product.processor }}</p></li>{% endif %}
                    {% if product.ram %}<li><p>RAM: {{ product.ram }}</p></li>{% endif %}
                    <li class="Quantity_of_item">In stock   {{ product.quantity_on_storage }}</li>
                </ul>
                </a>
                <ul class="Bottom_of_item">
                    <li>
                        <ul class="Price_section">
                            <li class="Price">{{ product.price }}</li>
                            <li class="Currency">CZK</li>
                        </ul>
                    </li>                
                    <li>                    
                        <form action="{% url 'product_update' product.pk %}" method="GET">
                            <input type="submit" value="Update">
                        </form>
                    </li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
</section>
</body>
</html>