{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'products.css' %}">
    <link rel="stylesheet" href="{% static 'account.css' %}">
    <link rel="stylesheet" href="{% static 'admin.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

<header>
        <div class="left-header">
            {% if user.is_superuser %}
                <a href="{% url 'admin_menu' %}"><img src="{% static 'img/admin.png' %}" alt="Admin"></a>
            {% endif %}
            <a href="{% url 'main' %}" class="Logo"><img src="{% static 'img/Logo.jpg' %}" alt="Logo"></a>
        </div>
            <div class="search-container">
                <form action="{% url 'search_products' %}" method="get" class="search-form">                
                    <input class="search-input" type="text" name="query" placeholder="Search product..." value="{{ request.GET.query }}">
                    <button type="submit" class="search-button"></button>
                </form>
        </div>
        <nav class="nav-links" id="navLinks">
            <div class="close-btn" id="closeBtn">&times;</div>
            <a href="{% url 'main' %}">Home</a>
            <a href="{% url 'products' %}">Catalog</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contact_us' %}">Contact us</a>
            {% if user.is_authenticated %}
            <a href="{% url 'wishlist' %}"><img src="{% static 'img/Vector.jpg' %}" alt="Wishlist"></a>
            <a href="{% url 'cart' %}"><img src="{% static 'img/Cart.jpg' %}" alt="Cart"><span id="cart-count">0</span></a>        
            <a href="{% url 'profile' %}"><img src="{% static 'img/Login.jpg' %}" alt="Profile"></a>
            <span class="user-greeting">Hello, {{ user.first_name }}</span>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="background: none; border: none; cursor: pointer; font-size: 20px">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}"><img src="{% static 'img/log_in.png' %}" alt="Login"></a>
            {% endif %}
        </nav>
        <div class="hamburger-menu" id="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </header>
<main>    
    {% block main %} {% endblock %}
</main>

<footer>
    <div class="foot_section">
        <ul class="AboutUs">
            <li><img src="{% static 'img/WhiteLogo.png' %}" alt="Cyber"></li>
            <li class="AboutUsInfo">Shop with us today and stay ahead with the best in tech! This description highlights your global reach, your official partnership with Apple and Samsung, and the types of products available in your store.</li>
            <li>
                <ul class="Media">
                    <li><img src="{% static 'img/Twitter.png' %}" alt="Twitter"></li>
                    <li><img src="{% static 'img/Facebook.png' %}" alt="Facebook"></li>
                    <li><img src="{% static 'img/TikTok.png' %}" alt="TikTok"></li>
                    <li><img src="{% static 'img/Instagram.png' %}" alt="Instagram"></li>
                </ul>
            </li>
        </ul>
        <ul class="Services">            
            <li class="Title_footer">Services</li>
            <li>Bonus program</li>
            <li>Gift cards</li>
            <li>Credit and payment</li>
            <li>Service contracts</li>
            <li>Non-cash account</li>
            <li>Payment</li>
        </ul>
        
        <ul class="BuyerAssistance">
            <li class="Title_footer">Assistance to the buyer</li>
            <li>Find an order</li>
            <li>Terms of delivery</li>
            <li>Exchange and return of goods</li>
            <li>Guarantee</li>
            <li>Frequently asked questions</li>
            <li>Terms of use of the site</li>
        </ul>
    </div>
</footer>    


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script>
    $(document).ready(function () {
        let cartCounter = $("#cart-count");
        if (cartCounter.text() === "0") {
            cartCounter.hide();
        }
    });
    
    document.addEventListener("DOMContentLoaded", function () {
    const hamburger = document.getElementById("hamburger");
    const navLinks = document.getElementById("navLinks");
    const closeBtn = document.getElementById("closeBtn");

    hamburger.addEventListener("click", function () {
      navLinks.classList.add("show");
    });

    closeBtn.addEventListener("click", function () {
      navLinks.classList.remove("show");
    });
  });
</script>
</body>
</html>

