{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'products.css' %}">
    <link rel="stylesheet" href="{% static 'account.css' %}">
    <link rel="stylesheet" href="{% static 'admin.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="Sidebar_admin_menu">
        <h2>Admin Menu</h2>
        <ul>
            <li><a href="{% url 'admin_menu' %}">View and update</a></li>
            <li><a href="{% url 'add_new_product' %}">Add new product</a></li>
            <li><a href="{% url 'view_refunds' %}">Refund</a></li>
            <li><a href="/">Back to Main page</a></li>
        </ul>
    </div>
    <div class="Admin_content">
        <header>
            <h1>Admin menu</h1>
        </header>        
    </div>
<main>
     {% block main %} {% endblock %}
</main>
</body>
</html>