{% extends 'base.html' %}

{% load static %}

{% block title %}
Cart page
{% endblock %}

{% block main %}

<section class="Cart_container">
    <div class="Shopping_cart">
        <h3>Shopping Cart</h3>   
        <ul class="Cart_list">
        {% for item in cart_items %}
            <li>
                <ul class="Cart_items Inside_block">
                    <li class="Image_of_item">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="max-width: 90px; max-height: 90px">
                    </li>
                    <li class="Items_name">{{ item.product.name }}</li>
                    <li>
                        <ul class="Quantity_section">
                            <li class="Minus" data-product-id="{{ item.product.id }}">-</li>
                            <li class="Quantity" id="quantity-{{ item.product.id }}">{{ item.quantity }}</li>
                            <li class="Plus" data-product-id="{{ item.product.id }}">+</li>
                        </ul>
                    </li>
                    <li class="Summary_item_price" id="price-{{ item.product.id }}">
                        {{ item.total_price_per_item }}
                    </li>
                    <li>
                        <button class="Delete" data-product-id="{{ item.product.id }}">Delete</button>
                    </li>

                </ul>
            </li>
        {% endfor %}

        </ul>
    </div>
    
    <div class="Order_summary">
        <h3>Order Summary</h3>
        <ul class="Price_container">
            <li class="Price_excl_VAT">
                <span class="Cart_price" style='width: 200px;'>Total excl. VAT</span> 
                <span class="price_value" style='padding-left:20px;'>{{ price_excl_VAT }}</span>
                <span class="Cart_price">CZK</span>
            </li>
            <li class="Total_price">
                <span class="Cart_price" style='width: 200px;'>Total price with VAT</span> 
                <span class="price_value" style='padding-left:20px;'>{{ total_price }}</span>
                <span class="Cart_price">CZK</span>
            </li>            
        </ul>
        <a href="{% url 'checkout_address' %}">
            <button class="Checkout">Checkout</button>
        </a> 
    </div>
</section> 

<script src="{% static 'js/quantity_cartitem.js' %}"></script>
    
{% endblock %}